<html>
<head>

  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<nav>
  <ul>
    <li>
      <a href="/">Rattan Ashat</a></li>
    <li><a href="/aboutme">About Me</a>
    </li>
    <li><a href="/contactme">Contact Me</a> </li>

  </ul>
</nav>