


<%include ./partials/header.ejs%>
<center><h2>About Me</h2></center>
<img src="images/WebProgramming.png" alt="Web" style="width: 300px;;height:228px;" align="left">
<img src="images/web-developer.png" alt="Web" style="width: 300px;;height:300px;" align="right">
<p class="lead" style="text-align: center">
    A <mark>Web developer and designer</mark> based in Barrie who likes to spend much of his time travelling and working in different parts of the world.
    <br>My name is Rattan, my passion is all about creating real elegent looking websites. I also do branding which includes creating logos, business card designes and letterheads.
    I love to travel and that's the only reason i do not have an office location , A  global citizen.
    <br><br>
</p>
<p  class="services">
    My services include Web Deigning, Front end development, back end development, Content Managed Websites(Cms), Logo Design, Sound editing, Video editing and animation.
</p>





<%include ./partials/footer.ejs%>